{if isset($file)}
<div class="stf-popup-cpt">
	<i class="icon16 close b-close"></i>
	<h3 class="title">Вы собираетесь удалить фалй: {$file.name|escape}.{$file.ext|escape} из этого списка</h3>
</div>
<div class="stf-popup-cnt">
        <form class="stf-files-remove-form" 
            data-productId="{$prodict_id|escape}"
            data-setId="{$set_id|escape}"
            data-fileId="{$file['id']|escape}" 
            
            action="?plugin=stfile&module=files&action=remove">
        <input type="text" name="file[name]" value="{$file['name']|escape}" style="display: none;">
        <input type="text" name="file[id]" value="{$file['id']|escape}" style="display: none;">
        <input type="text" name="file[ext]" value="{$file['ext']|escape}" style="display: none;">
        <span class="hint">При удалинии файла, файл удалиться из всех списков. Что бы удалить файл из списка перейдите в него.</span>
        <div class="name mt15">Введите его название (без расширения) для его удлания.</div>
        
        <div class="value mt15">
            <input type="text" name="nameInput" value="{$file['name']|escape}"/>
        </div>
        
        <div>
            <input type="submit" class="button red mt15" value="Удалить">
            <span class="form-message mt15" style="display: block;"></span>
        </div>
    </form>
</div>
{else}
<div class="stf-popup-cpt">
    <i class="icon16 close b-close"></i>
    <h2 class="title">Ошибка сервера</h2>
</div>
{/if}
{literal}
<script type="text/javascript">
(function ($) {
	$.stfileFilesRemoveDialog = {
        form: null,
        set_id: null,
        file_id: null,
        product_id: null,
		init: function() {
            this.form = $('.stf-files-remove-form');
            this.set_id = this.form.attr('data-setId');
            this.file_id = this.form.attr('data-fileId');
            this.product_id = this.form.attr('data-productId');
            this.initForm();
            console.log(this.product_id)
		},
		initForm: function() {
            var self = this;

            this.form.submit(function() {
                var t = $(this);
                var m = t.find('.form-message');
                var filename = $("input[name='file[name]']").prop('value');
                var filenameInput = $("input[name='nameInput']").prop('value');

                m.hide();
                
                if(filename != filenameInput)
                {
                    m.css('color', 'red');
                    m.text("Имя файла введено не правильно").show();
                    return false;
                }

                $.post(t.attr('action'), t.serialize(), function(jData) {
                    if(jData.data[0].result == '1')
                    {
                        if(self.product_id > 0){
                            $.stfileSetProduct.filesTable.fnReloadAjax();
                            $.stfileSetProduct.hidePopup();
                        } else {
                            $.stfileSetEdit.filesTableSet.fnReloadAjax();
                            $.stfileControl.hidePopup();
                        }
                    }
                    else 
                    {
                        m.text(jData.data.message).show();
                    }
                }, 'json');

                return false;
            });
		},
	}
})(jQuery);
$(document).ready(function() {
    $.stfileFilesRemoveDialog.init();
});
</script>
{/literal}
